

.logo1 {
  color: navy;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  line-height: 10%
}

.logo2{
  color:navy;
  font-size: 30px;
  text-align: left;
  line-height: 20%
}

.logo3{
  color:navy;
  font-size: 25px;
  text-align: left;
  line-height: 20%
}

nav{
  width: 100vw;
  background-color:navy;
}

body {
  background-color:azure;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  color:#0040ff;
  margin-left: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #0080ff;  */
  background-color: navy;
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
}

li {
  float: left;
   /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
   margin: 0 2vw;
   /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
}

li a:hover {
  /* background-color: #111111; */
  /* background-color: red; */
  background-color: #C6E9FF;
  color: black;
}

input{ 
  margin-top: 10px;
  margin-left: 10px;	
}

button{ 
  margin-top: 10px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:navy;
  color: whitesmoke;
  border: 1px solid #ddd;
  padding: 8px;
} */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  border: 1px solid #dddddd;
}


/* “hover” selector, which syntax is element:hover */
tr:hover,
tr:focus-within {
  background: #f2f3ff;
  outline: none;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* hide the toggle button from the nave menu */
button{
  display: none;
  margin-bottom: 1px;
  margin-top: 1px;
}

/* Add media queries for responsiveness - 
when the screen is 500px wide or less, 
stack the links on top of each other */
@media only screen and (max-width: 500px) 
{

  .logo2
  {
    color:navy;
    font-size: 25px;
    text-align: left;
    line-height: 20%
  }

  /* makes the nav menu button visible */
  button{
    display: block;
    /* style the button */
    padding: 1vw;
    font-size: vh;
    background-color:navy;
    border:none;
    color:#C6E9FF;
    cursor: pointer;
    /*this put the button on the left*/
    align-self: flex-start;
  }

  /*shows elements in a column*/
  ul{
    flex-direction: column;
    border-color: azure;
    border-bottom-width: 1px;
    background: silver;
  }

  /* deletes margin on top or bottom of the a tag*/
  li{
    margin:1px;
    background: navy;
  }

  /* makes sure that the a tag will take the entire screen*/
  a{
    display: block;
  }

  .header a 
  {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

#footer {
  height: 50px; /* the footer's total height */
}

#footer-content {
  background-color: #f3e5f5;
  border: 1px solid #ab47bc;
  height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 8px;
}
